.vscode/settings.json
.cache.mk
*.ko.cmd
*.ko
*.mod.c
*.mod.o
*.mod
*.cmd
*.o
.tmp_versions
Module.symvers
modules.order
kern/nl/sample/genl_echo
kern/nl/sample/nl_echo
net/tftp/tftp_client
net/tftp/tftp_server
.vscode/c_cpp_properties.json
